<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head", { title: "Edit question", stylesheet: "../../stylesheets/newQuestion.css" }) %>
  <body>
    <% if (typeof isAuthenticated.value === 'boolean' && isAuthenticated.value) { %>
      <%- include('./partials/navbarLoggedIn') %>
    <% } else { %>
      <%- include('./partials/navbarGuest') %>
    <% } %>
      
    <div class="pageContainer">
      <h4>Edit question</h4>
    
      <form id="questionForm" method="POST">
    
        <div class="input-field">
          <label for="questionTitle">Title:</label>
          <input id="questionTitle" name="questionTitle" type="text" value="<%= question.title %>" required>
        </div>
      
        <div class="input-field">
          <textarea id="question" name="question" placeholder="Question" required rows="20" cols="50"><%= question.question %></textarea>
        </div>
        
        <input id="questionID" type="hidden" name="questionID" value="<%= question._id %>">
    
        <button type="submit" class="btn">Submit</button>
      </form>
    </div>
    <%- include("./partials/footer") %>
    <script type="module" src="/javascripts/editQuestion.js"></script>
  </body>
</html>
