<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head", { title: "Home page", stylesheet: "stylesheets/home.css" }) %>

  <body>

    <% if (typeof isAuthenticated === 'boolean' && isAuthenticated) { %>
      <%- include('./partials/navbarLoggedIn') %>
    <% } else { %>
      <%- include('./partials/navbarGuest') %>
    <% } %>

    <div class="pageContainer">
      <div class="row">
        <div class="col s12">
          <div class="center-align">
          
          <% if (isAuthenticated) { %>
              <a href="questions/new/question" class="waves-effect waves-light btn" id="questionBtn">Ask Question</a>
          <% } else { %>
              <a href="login" class="waves-effect waves-light btn" id="questionBtn">Log in to ask question</a>
          <% } %>
          </div>
          
          <% questions.forEach(question => { %>
            <div class="card">
              <div class="card-content">
                <div class="row">

                  <!-- Left Column -->
                  <div class="col s1" style="width: 10%;">
                    <span class="card-title">
                      
                      <p class="votes" id="votes">
                        <% if (question.totalVotes >= 1000) { %>
                          <%= (question.totalVotes / 1000).toFixed(1) %>k votes
                        <% } else { %>
                          <%= question.totalVotes %> votes
                        <% } %>
                      </p>
                      
                      <p class="views" id="views">
                        <% if (question.views >= 1000) { %>
                          <%= (question.views / 1000).toFixed(1) %>k views
                        <% } else { %>
                          <%= question.views %> views
                        <% } %>
                      </p>
                      
                    </span>
                  </div>
                              
                  <!-- Middle Column -->
                  <div class="col s7" style="width: 60%;">
                    <span class="card-title">
                      <!-- Create a link with data attributes -->
                      <a href="/questions/<%= question.url %>" class="title" id="title"><%= question.title %></a>
                      
                      <!-- Shorten long questions -->
                      <p class="question" id="question">
                        <%= question.question.length > 100 ? question.question.slice(0, 100) + '...' : question.question %>
                      </p>
                    </span>
                  </div>

                  <!-- Right Column -->
                  <div class="col s4" style="width: 30%;">
                    <span class="card-title">
                      <p class="right-align" id="author"><%= question.author %> asked at <%= question.createdAt.toLocaleDateString() %></p>
                      <p class="tags" id="tags"><%= question.tags %></p>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
    <%- include("./partials/footer") %>

    <script type="text/javascript" src="/javascripts/home.js"></script>

  </body>
</html>
