<!-- question.ejs -->

<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head", { title: "Log in", stylesheet: "/stylesheets/question.css" }) %>

<body>
  <!-- These values are used in the JS file -->
  <div id="isAuthenticated" isAuthenticated="<%= isAuthenticated?.value %>"></div>
  <div id="username" username="<%= isAuthenticated?.username %>"></div>
  <div id="questionID" questionID="<%= question.id %>"></div>
  <div id="userID" userID="<%= isAuthenticated.userID %>"></div>

  <% if (isAuthenticated && isAuthenticated.value) { %>
    <%- include('./partials/navbarLoggedIn') %>
  <% } else { %>
    <%- include('./partials/navbarGuest') %>
  <% } %>

  <div class="pageContainer">
    <div class="row">
      <div class="col s12">

        <!-- Question -->
        <% if (question) { %>
          <div class="card">
            <div class="card-content">
              <span class="card-title"><%= question.title %></span>
              <div class="postMetadata">
                <p>Asked <%= timeSincePost %> by <%= question.author %>&nbsp;&nbsp;&nbsp;&nbsp;Views: <%= question.views %></p>
              </div>
              <p><%= question.question %></p>

              <div class="buttonContainer">
                <p id="voteCount">Votes: <%= question.votes || 0 %></p>
                <a class="btn-floating waves-effect waves-light" id="thumbsUp"><i class="material-icons">thumb_up</i></a>
                <a class="btn-floating waves-effect waves-light" id="thumbsDown"><i class="material-icons">thumb_down</i></a>
                
                <% if (isAuthenticated.username == question.author) { %>
                  <button id="editBtn" class="waves-effect waves-light btn">Edit</button>
                  <button id="deleteBtn" class="waves-effect waves-light btn">Delete</button>
                <% } %>
              </div>
            </div>
          </div>

          <!-- Comments -->
          <% if (question.comments && question.comments.length > 0) { %>
            <h4>Comments</h4>
            <% question.comments.forEach((comment, index) => { %>
              <div class="card">
                <div class="card-content">
                  <p><%= comment.comment %></p>
                  <div class="buttonContainer">
                    <p>Answered <%= timeSince(comment.createdAt) %> by <%= comment.author %></p>
                    <p>Votes: <span id="voteCountComment_<%= index %>"><%= comment.votes %></span></p>
                    <a class="btn-floating waves-effect waves-light thumbsUpComment" id="thumbsUpComment_<%= index %>"><i class="material-icons">thumb_up</i></a>
                    <a class="btn-floating waves-effect waves-light thumbsDownComment" id="thumbsDownComment_<%= index %>"><i class="material-icons">thumb_down</i></a>

                    <% if (isAuthenticated.username == comment.author) { %>
                      <button class="waves-effect waves-light btn editBtnComment" data-comment-index="<%= index %>">Edit</button>
                      <button class="waves-effect waves-light btn deleteBtnComment" data-comment-index="<%= index %>">Delete</button>
                    <% } %>
                  </div>
                </div>
              </div>
            <% }); %>
          <% } %>

          <!-- Comment field for authenticated users -->
          <% if (isAuthenticated.value) { %>
            <form action="/questions/<%= question.id %>/addComment" method="POST" id="commentForm">
              <div class="input-field">
                <textarea id="comment" name="comment" placeholder="Your comment" rows="4" cols="50" required></textarea>
              </div>
              <button type="submit" class="btn">Submit Comment</button>
            </form>
          <% } %>

        <% } else { %>
          <p>No question available.</p>
        <% } %>

      </div>
    </div>
  </div>

  <!-- Function to format the comment times -->
  <% function timeSince(date) {
    const currentDate = new Date();
    const pastDate = new Date(date);
  
    const years = currentDate.getFullYear() - pastDate.getFullYear();
    const months = (currentDate.getMonth() - pastDate.getMonth()) + (years * 12);
    const days = currentDate.getDate() - pastDate.getDate();
  
    let result = '';
  
    if (months > 0) {
        result += `${months} ${months === 1 ? 'month' : 'months'}`;
    }
  
    if (days > 0) {
        result += `${result ? ', ' : ''}${days} ${days === 1 ? 'day' : 'days'}`;
    }
  
    return result ? result + ' ago' : 'today';
  } %>


  
  <script type="text/javascript" src="/javascripts/question.js"></script>
</body>
</html>
